/*** APPLIES TO ENTIRE FILE ***/
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;

  text-decoration: none;
}

/*** PAGECONTAINER***/
.pagecontainer {
  margin: 0 auto;
  width: 80%;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  width: 100%;
  background: #ffffff;
}

header{
  width: 100%
}

header a{
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header a img{
  width: 20%;
  display: flex;
}

/*** NAVIGATION ***/
nav{
}

nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  background: #ffffff;
  height: 3%;
  width: 25%;
  padding: 3%;
  border-color: none;
  border: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  color: #011627;
}

nav ul li:hover{
  background: #c5a173;
}

nav ul li:active {
  background: #D4AF37;
}
/*** END OF NAVIGATION ***/



/*** HEADER ***/
#about {
  margin:auto;
  text-align: center;
}

#about h1{
  display: inline-flex;
  font-size: 3em;
  padding-top: 4%;
  padding-bottom: 3%;
  text-align: center;
}
/*** END OF HEADER***/



/*** INFO AND PICTURE ***/
#about2{
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  text-align: left;
  padding-left: 5em;
}

#ying{
  display: block;
  width: 35em;
}

#ying h2{
  display: flex;
  flex-wrap: wrap;
  /* width: 15em; */
  margin: 0;
  padding-bottom: .8em;

  font-size: 2em;
}

#ying h3{
  display: flex;
  flex-wrap: wrap;
  /* width: 15em; */
  margin: 0;
  padding-bottom: 2em;

  font-size: 1.7em;
  font-style: italic;
}

#ying p{
  font-size: 1em;
  padding-right: 4em;
  padding-bottom: 2em;
  line-height: 1.5em;
}

#yingface{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#yingface img{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-content: center;
  align-items: center;

  width: auto;

  padding: 3em;
}
/*** END OF INFO AND PICTURE ***/

/* #ying p {
  grid-column: 1;
  grid-row: 2;

  width: 30em;
  font-size: .9em;
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: left;
  line-height: 1.4;
} */

footer {
  display: flex;
  flex-wrap: wrap;
  height: 10em;
  background-color: #000000;
  padding: 2em;
  padding-top: 8%;
}

footer p{
  line-height: 1.7;
  color: #ffffff;
  font-size: 1em;
}

footer p a{
  font-size: 4%;
  font-weight: bold;
  color: #ffffff;
}
