/*This box-sizing line makes the width of elements include up to the border*/
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #f7ba77;
    font-family: 'Oxygen', sans-serif;
  }
/*This is a container around the whole page*/
  .container {
    margin: auto;
    max-width: 70vw;
    background-color: #000000;
    background-image: url('images/main.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }

  header {
    padding: 8rem;
    background: paleturquoise;
    background-image: url('images/diary.jpg');
    border: solid;
    border-width: 6em;
    color: darkslateblue;

  }

  main {
    margin: 5rem;
  }

  article {

    border: solid;
    border-radius: 3rem;
    margin: 5em;
  }

  .intro {
    background-color: #E53A40;
    padding: 3rem;
    background-image: url('images/introimage2.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  #diaryentry1 {
    padding: 2rem;
    background-color: #285943;
    background-image: url('images/diary1.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  #diaryentry2 {
    background-color: #285943;
    padding: 2rem;
    background-image: url('images/diary2.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  #diaryentry3 {
    padding: 2rem;
    background-color: #285943;
    background-image: url('images/diary3.png');
    height: 800px;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  footer {
    padding: 4rem;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  h3 {
    text-align: center;
  }
