/*** APPLIES TO ENTIRE FILE ***/
*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  vertical-align: baseline;

  text-decoration: none;
}

/*** PAGECONTAINER***/
.pagecontainer {
  margin: 0 auto;
  width: 80%;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body{
  width: 100%;
  background: #ffffff;
}

header{
  width: 100%
}

header a{
  display:flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

header a img{
  width:20%;
  display: flex;
}

/*** NAVIGATION ***/
nav{
}

nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

nav ul li {
  background: #ffffff;
  height: 3%;
  width: 25%;
  padding: 3%;
  border-color: none;
  border: none;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  text-align: left;
  font-size: 1em;
  font-weight: bold;
  color: #011627;
}

nav ul li:hover{
  background: #c5a173;
}

nav ul li:active {
  background: #D4AF37;
}
/*** END OF NAVIGATION ***/

h1{
  font-size: 2em;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: left;
}

/*** WORKS SECTION ***/
/*** I know a grid might be more efficient, I just prefer it this way ***/
#works{
  margin:auto;
  text-align: center;
}

/* top row */
#display{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#display img{
  width: 280px;
  margin: 0;
  padding: 15px;
}

#display img:hover{
  opacity: .6;
}

/* second row */
#display2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#display2 img{
  width: 220px;
  margin: 0;
  padding: 15px;
}

#display2 img:hover{
  opacity: .6;
}

/* third row */
#display3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#display3 img{
  width: 280px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 120px;
  padding-left: 80px;
}

#display3 img:hover{
  opacity: .6;
}

/* fourth row */
#display4{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#display4 img{
  width: 280px;
  margin: 0;
  padding: 20px;
}

#display4 img:hover{
  opacity: .6;
/*** END OF WORKS SECTION ***/


footer {
  height: 13%;
  background-color: #000000;
  padding:3%;
  padding-top: 8%;
}

footer p{
  color: #ffffff;
  font-size: 3%;
}

footer p a{
  font-size: 4%;
  font-weight: bold;
  color: #ffffff;
}
